## First Test

Please execute each cell in the following. To execute a cell, click on it, and then use SHIFT+ENTER (this will execute the contents of the cell, and move down to the next one!).

There are other useful keyboard commands (see the Help menu) and the menu bar can always be used instead as well

**Load the [jupysql](https://github.com/ploomber/jupysql)  extension**

In [9]:
%pip install ipython-sql

Requirement already satisfied: ipython-sql in c:\users\user\appdata\local\programs\mu editor\python\lib\site-packages (0.5.0)
Requirement already satisfied: ipython in c:\users\user\appdata\local\programs\mu editor\python\lib\site-packages (from ipython-sql) (8.6.0)
Requirement already satisfied: six in c:\users\user\appdata\local\programs\mu editor\python\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: sqlalchemy>=2.0 in c:\users\user\appdata\local\programs\mu editor\python\lib\site-packages (from ipython-sql) (2.0.37)
Requirement already satisfied: sqlparse in c:\users\user\appdata\local\programs\mu editor\python\lib\site-packages (from ipython-sql) (0.5.3)
Requirement already satisfied: ipython-genutils in c:\users\user\appdata\local\programs\mu editor\python\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: prettytable in c:\users\user\appdata\local\programs\mu editor\python\lib\site-packages (from ipython-sql) (3.11.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\user\appdata\local\programs\mu editor\python\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (3.1.1)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\user\appdata\local\programs\mu editor\python\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (4.12.2)
Requirement already satisfied: decorator in c:\users\user\appdata\local\programs\mu editor\python\lib\site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: pygments>=2.4.0 in c:\users\user\appdata\local\programs\mu editor\python\lib\site-packages (from ipython->ipython-sql) (2.13.0)
Requirement already satisfied: stack-data in c:\users\user\appdata\local\programs\mu editor\python\lib\site-packages (from ipython->ipython-sql) (0.6.1)
Requirement already satisfied: jedi>=0.16 in c:\users\user\appdata\local\programs\mu editor\python\lib\site-packages (from ipython->ipython-sql) (0.18.1)
Requirement already satisfied: colorama in c:\users\user\appdata\local\programs\mu editor\python\lib\site-packages (from ipython->ipython-sql) (0.4.6)
Requirement already satisfied: backcall in c:\users\user\appdata\local\programs\mu editor\python\lib\site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: matplotlib-inline in c:\users\user\appdata\local\programs\mu editor\python\lib\site-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: prompt-toolkit<3.1.0,>3.0.1 in c:\users\user\appdata\local\programs\mu editor\python\lib\site-packages (from ipython->ipython-sql) (3.0.32)
Requirement already satisfied: traitlets>=5 in c:\users\user\appdata\local\programs\mu editor\python\lib\site-packages (from ipython->ipython-sql) (5.5.0)
Requirement already satisfied: pickleshare in c:\users\user\appdata\local\programs\mu editor\python\lib\site-packages (from ipython->ipython-sql) (0.7.5)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\user\appdata\local\programs\mu editor\python\lib\site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: wcwidth in c:\users\user\appdata\local\programs\mu editor\python\lib\site-packages (from prompt-toolkit<3.1.0,>3.0.1->ipython->ipython-sql) (0.2.5)
Requirement already satisfied: asttokens>=2.1.0 in c:\users\user\appdata\local\programs\mu editor\python\lib\site-packages (from stack-data->ipython->ipython-sql) (2.1.0)
Requirement already satisfied: executing>=1.2.0 in c:\users\user\appdata\local\programs\mu editor\python\lib\site-packages (from stack-data->ipython->ipython-sql) (1.2.0)
Requirement already satisfied: pure-eval in c:\users\user\appdata\local\programs\mu editor\python\lib\site-packages (from stack-data->ipython->ipython-sql) (0.2.2)
Note: you may need to restart the kernel to use updated packages.

WARNING: You are using pip version 21.2.4; however, version 24.3.1 is available.
You should consider upgrading via the 'C:\Users\User\AppData\Local\Programs\MUEDIT~1\Python\pythonw.exe -m pip install --upgrade pip' command.

In [10]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

**Create an empty database named `test.db`**

In [11]:
%sql sqlite:///test.db

**Create a table named `simple`**

In [12]:
%%sql

CREATE TABLE simple (first integer, second integer)

 * sqlite:///test.db
Done.

[]

**Insert data into `simple`**

In [13]:
%%sql

INSERT INTO simple VALUES (1,2);
INSERT INTO simple VALUES (2,3);
INSERT INTO simple VALUES (3,4);
INSERT INTO simple VALUES (4,1);

 * sqlite:///test.db
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

[]

**Run a SQL query**

In [14]:
%%sql

SELECT * FROM simple

 * sqlite:///test.db
Done.

[(1, 2), (2, 3), (3, 4), (4, 1)]

**Check Database Metadata**
Check this [page](http://www.sqlitetutorial.net/sqlite-commands/) for commands and how to chech database metadata.

**Now you can delete the table**

In [15]:
%%sql

DROP TABLE simple

 * sqlite:///test.db
Done.

[]